{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es2022": true,
    "node": true,
    "jest": true,
    "mocha": true,
    "browser": true,
    "qunit": true
  },
  "globals": {
    "SELECT": true,
    "INSERT": true,
    "UPSERT": true,
    "UPDATE": true,
    "DELETE": true,
    "CREATE": true,
    "DROP": true,
    "CDL": true,
    "CQL": true,
    "CXL": true,
    "cds": true,
    "sap": true,
    "jQuery": true
  },
  "rules": {
    "no-console": "off",
    "require-atomic-updates": "off"
  }
}
