# CAP partner-reference-application
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
dist/
resources/
.vscode/
coverage/
srv/external/*
cli/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mtad.yaml
mta_archives/
Makefile*.mta

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

